In [813]:
import pandas as pd
import numpy as np

In [814]:
df = pd.read_csv('C:/Users/ishik/Downloads/archive (2)/vehicles.csv')

In [815]:
# Getting info on type 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [816]:
# Calculating total no. of null values in each column as we saw there multiple nan values in columns
df.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [817]:
#Dropping the columns which is not usable or have high percentage of null values in order to reduce the size of data 
# which will decrease the processing time as well
df.drop(columns=['id','url','region_url','VIN','image_url','description','county','posting_date','size','lat','long'],inplace=True)

In [818]:
# Count duplicate rows
duplicate_count = df[df.duplicated()].shape[0]
# Print the count of duplicate rows
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 56491

In [819]:
# Drop duplicate rows
df = df.drop_duplicates()
df

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state
0,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,wyoming,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,fwd,sedan,NaN,wy
426876,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,12029.0,clean,other,fwd,sedan,red,wy
426877,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,diesel,4174.0,clean,other,NaN,hatchback,white,wy
426878,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,fwd,sedan,silver,wy
426879,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,gas,22716.0,clean,other,rwd,coupe,NaN,wy

In [820]:
df = df[(df['year'] > 1989) & (df['price'].between(2000, 70000))]


# Show the filtered data
print(df)

         region  price    year manufacturer                     model  \
27       auburn  33590  2014.0          gmc  sierra 1500 crew cab slt
28       auburn  22590  2010.0    chevrolet            silverado 1500
29       auburn  39590  2020.0    chevrolet       silverado 1500 crew
30       auburn  30990  2017.0       toyota      tundra double cab sr
31       auburn  15000  2013.0         ford                 f-150 xlt
...         ...    ...     ...          ...                       ...
426875  wyoming  23590  2019.0       nissan         maxima s sedan 4d
426876  wyoming  30590  2020.0        volvo  s60 t5 momentum sedan 4d
426877  wyoming  34990  2020.0     cadillac          xt4 sport suv 4d
426878  wyoming  28990  2018.0        lexus           es 350 sedan 4d
426879  wyoming  30590  2019.0          bmw  4 series 430i gran coupe

        condition    cylinders    fuel  odometer title_status transmission  \
27           good  8 cylinders     gas   57923.0        clean        other
28           good  8 cylinders     gas   71229.0        clean        other
29           good  8 cylinders     gas   19160.0        clean        other
30           good  8 cylinders     gas   41124.0        clean        other
31      excellent  6 cylinders     gas  128000.0        clean    automatic
...           ...          ...     ...       ...          ...          ...
426875       good  6 cylinders     gas   32226.0        clean        other
426876       good          NaN     gas   12029.0        clean        other
426877       good          NaN  diesel    4174.0        clean        other
426878       good  6 cylinders     gas   30112.0        clean        other
426879       good          NaN     gas   22716.0        clean        other

       drive       type paint_color state
27       NaN     pickup       white    al
28       NaN     pickup        blue    al
29       NaN     pickup         red    al
30       NaN     pickup         red    al
31       rwd      truck       black    al
...      ...        ...         ...   ...
426875   fwd      sedan         NaN    wy
426876   fwd      sedan         red    wy
426877   NaN  hatchback       white    wy
426878   fwd      sedan      silver    wy
426879   rwd      coupe         NaN    wy

[314668 rows x 15 columns]

In [821]:
df.isnull().sum()

region               0
price                0
year                 0
manufacturer     10087
model             2736
condition       110550
cylinders       127705
fuel              1855
odometer          1529
title_status      4928
transmission      1453
drive            94315
type             63778
paint_color      85789
state                0
dtype: int64

In [822]:
##imputing values in null cells of manufacturer column based on the corresponding model of the car
# Step 1: Rearrange the 'model' column
df['model'] = sorted(df['model'], key=lambda x: (not str(x).isdigit(), str(x)))

# Step 2: Split the 'model' column and keep only the first value
df['model'] = df['model'].str.split().str[0]

# Step 3: Filter and show only the unique values
unique_models = df['model'].unique()
print(unique_models)

C:\Users\ishik\AppData\Local\Temp\ipykernel_59780\3769923785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['model'] = sorted(df['model'], key=lambda x: (not str(x).isdigit(), str(x)))

['1' '100000' '107566' ... '♿' '𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼' '🔥GMC']

C:\Users\ishik\AppData\Local\Temp\ipykernel_59780\3769923785.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['model'] = df['model'].str.split().str[0]

In [823]:
#creating a variable which contains all the rows with null values in manufacturer column
#which we can impute based on the model column
null_manufacturer_rows = df[df['manufacturer'].isnull()]

In [824]:
# Define a mapping dictionary with models as keys and manufacturers as values
model_to_manufacturer = {
    '200sl': 'Mercedes-Benz',
    '228i': 'BMW',
    '230i': 'BMW',
    '240d': 'Mercedes-Benz',
    '240z': 'Datsun',
    '2500hd': 'GMC',
    '280zx': 'Datsun',
    '3-series': 'BMW',
    '300-series': 'Lexus',
    '3000gt': 'Mitsubishi',
    '300zx': 'Nissan',
    '320i': 'BMW',
    '325i': 'BMW',
    '325is': 'BMW',
    '328i': 'BMW',
    '328xi': 'BMW',
    '330ci': 'BMW',
    '330i': 'BMW',
    '330xi': 'BMW',
    '335i': 'BMW',
    '3500hd': 'GMC',
    '350z': 'Nissan',
    '370z': 'Nissan',
    '4-runner': 'Toyota',
    '428i': 'BMW',
    '430i': 'BMW',
    '450gl': 'Mercedes-Benz',
    '450slc': 'Mercedes-Benz',
    '4runner': 'Toyota',
    '5-series': 'BMW',
    '500c': 'Fiat',
    '500sl': 'Mercedes-Benz',
    '500x': 'Fiat',
    '525i': 'BMW',
    '528i': 'BMW',
    '528xi': 'BMW',
    '530i': 'BMW',
    '535i': 'BMW',
    '540i': 'BMW',
    '550i': 'BMW',
    '645ci': 'BMW',
    '650i': 'BMW',
    '7-series': 'BMW',
    '740li': 'BMW',
    '750li': 'BMW',
    'AM': 'Aston Martin',
    'AMC': 'AMC',
    'BMX': 'BMW',
    'Bentley': 'Bentley',
    'Blue': 'Blue Bird',
    'CHASSIS': 'CHASSIS',
    'CHEC': 'CHEC',
    'CHECKER': 'Checker',
    'CHEV.': 'Chevrolet',
    'CHOVROLET': 'Chevrolet',
    'Corolla': 'Toyota',
    'E350': 'Mercedes-Benz',
    'ELANTRA': 'Hyundai',
    'ELEMENT': 'Honda',
    'ES': 'Lexus',
    'Escape': 'Ford',
    'F-150': 'Ford',
    'F-250': 'Ford',
    'F0RD': 'Ford',
    'F150': 'Ford',
    'F450': 'Ford',
    'FORD/MUSTANG': 'Ford',
    'Foed': 'Ford',
    'For': 'Ford',
    'Ford,': 'Ford',
    'Freightliner': 'Freightliner',
    'GEM': 'GEM',
    'Genesis': 'Hyundai',
    'HUMMER': 'Hummer',
    'Hino': 'Hino',
    'IHC': 'International Harvester',
    'INTERNATIONAL': 'International Harvester',
    'Internatioal': 'International Harvester',
    'International': 'International Harvester',
    'Isuzu': 'Isuzu',
    'Lamborghini': 'Lamborghini',
    'MB': 'Mercedes-Benz',
    'MINI/COOPER': 'MINI',
    'Maserati': 'Maserati',
    'Mazda3': 'Mazda',
    'Mercede-Benz': 'Mercedes-Benz',
    'MiniCooper': 'MINI',
    'Mustang': 'Ford',
    'OLDSMOBILE': 'Oldsmobile',
    'Oldsmobile': 'Oldsmobile',
    'PETERBILT': 'Peterbilt',
    'PT': 'Chrysler',
    'Plymouth': 'Plymouth',
    'Pontica': 'Pontiac',
    'Rolls': 'Rolls-Royce',
    'STERLING': 'Sterling',
    'Saab': 'Saab',
    'Scion': 'Toyota',
    'Suabru': 'Subaru',
    'Subaro': 'Subaru',
    'Town': 'Chrysler',
    'Triumph': 'Triumph',
    'WANTED!': 'WANTED!',
    'WPOAA2993XS620614': 'Porsche',
    'Workhorse': 'Workhorse',
    'XLT': 'Ford',
    'Yamaha': 'Yamaha',
    'a-class': 'Mercedes-Benz',
    'a3': 'Audi',
    'a4': 'Audi',
    'a5': 'Audi',
    'a6': 'Audi',
    'a7': 'Audi',
    'a8': 'Audi',
    'acadia': 'GMC',
    'accent': 'Hyundai',
    'accord': 'Honda',
    'acty': 'Honda',
    'aerostar': 'Ford',
    'alanta': 'Chevrolet',
    'all-new': 'Mitsubishi',
    'allroad': 'Audi',
    'altima': 'Nissan',
    'amanti': 'Kia',
    'amc': 'AMC',
    'armada': 'Nissan',
    'arteon': 'Volkswagen',
    'ascent': 'Subaru',
    'astra': 'Saturn',
    'astro': 'Chevrolet',
    'atlas': 'Volkswagen',
    'ats': 'Cadillac',
    'aura': 'Saturn',
    'avalanche': 'Chevrolet',
    'avalon': 'Toyota',
    'avenger': 'Dodge',
    'aveo': 'Chevrolet',
    'azera': 'Hyundai',
    'b3000': 'Mazda',
    'b4000': 'Mazda',
    'baja': 'Subaru',
    'beetle': 'Volkswagen',
    'beetle-classic': 'Volkswagen',
    'bel': 'Chevrolet',
    'belair': 'Chevrolet',
    'benz': 'Mercedes-Benz',
    'blazer': 'Chevrolet',
    'bolt': 'Chevrolet',
    'bonanza': 'Chevrolet',
    'bonneville': 'Pontiac',
    'boxster': 'Porsche',
    'bronco': 'Ford',
    'brz': 'Subaru',
    'c': 'Chrysler',
    'c-10': 'Chevrolet',
    'c-class': 'Mercedes-Benz',
    'c-hr': 'Toyota',
    'c-max': 'Ford',
    'c/k': 'Chevrolet',
    'c10': 'Chevrolet',
    'c230': 'Mercedes-Benz',
    'c280': 'Mercedes-Benz',
    'c300': 'Mercedes-Benz',
    'c4500': 'GMC',
    'c5500': 'GMC',
    'cabellero': 'GMC',
    'cabriolet': 'Volkswagen',
    'caddilac': 'Cadillac',
    'cadenza': 'Kia',
    'camaro': 'Chevrolet',
    'camry': 'Toyota',
    'canyon': 'GMC',
    'capri': 'Ford',
    'caprice': 'Chevrolet',
    'captiva': 'Chevrolet',
    'caravan': 'Dodge',
    'cargo': 'Chevrolet',
    'cavalier': 'Chevrolet',
    'cayenne': 'Porsche',
    'cayman': 'Porsche',
    'cc': 'Volkswagen',
    'cc4500': 'Chevrolet',
    'celica': 'Toyota',
    'centra': 'Nissan',
    'century': 'Buick',
    'challenger': 'Dodge',
    'challengers': 'Dodge',
    'charger': 'Dodge',
    'cherokee': 'Jeep',
    'chevelle': 'Chevrolet',
    'chevorlet': 'Chevrolet',
    'chryler': 'Chrysler',
    'civic': 'Honda',
    'cj5': 'Jeep',
    'cl': 'Acura',
    'cl-class': 'Mercedes-Benz',
    'cla': 'Mercedes-Benz',
    'cla-class': 'Mercedes-Benz',
    'cla45': 'Mercedes-Benz',
    'clarity': 'Honda',
    'clk': 'Mercedes-Benz',
    'clk-class': 'Mercedes-Benz',
    'clk320': 'Mercedes-Benz',
    'clk350': 'Mercedes-Benz',
    'clk550': 'Mercedes-Benz',
    'cls': 'Mercedes-Benz',
    'cls-class': 'Mercedes-Benz',
    'club': 'Mercedes-Benz',
    'cmax': 'Ford',
    'cobalt': 'Chevrolet',
    'colbalt': 'Chevrolet',
    'colorado': 'Chevrolet',
    'commander': 'Jeep',
    'compass': 'Jeep',
    'continental': 'Lincoln',
    'convertible': 'BMW',
    'cooper': 'MINI',
    'corolla': 'Toyota',
    'corolla..le': 'Toyota',
    'corsair': 'Lincoln',
    'corvair': 'Chevrolet',
    'corvette': 'Chevrolet',
    'cougar': 'Mercury',
    'countryman': 'MINI',
    'coupe': 'BMW',
    'cr-v': 'Honda',
    'cr-z': 'Honda',
    'crossfire': 'Chrysler',
    'crosstrek': 'Subaru',
    'crown': 'Toyota',
    'cruse': 'Chevrolet',
    'cruze': 'Chevrolet',
    'crv': 'Honda',
    'ct': 'Lexus',
    'ct4': 'Cadillac',
    'ct5': 'Cadillac',
    'ct6': 'Cadillac',
    'cts': 'Cadillac',
    'cts-v': 'Cadillac',
    'ctsv': 'Cadillac',
    'cube': 'Nissan',
    'cummin': 'Cummins',
    'cummins': 'Cummins',
    'cv': 'Chevrolet',
    'cx-3': 'Mazda',
    'cx-5': 'Mazda',
    'cx-7': 'Mazda',
    'cx-9': 'Mazda',
    'cx9': 'Mazda',
    'dakota': 'Dodge',
    'dart': 'Dodge',
    'deisel': 'Diesel',
    'deluxe': 'Ford',
    'deville': 'Cadillac',
    'diesel': 'Diesel',
    'discovery': 'Land Rover',
    'dts': 'Cadillac',
    'durango': 'Dodge',
    'e': 'Mercedes-Benz',
    'e-150': 'Ford',
    'e-250': 'Ford',
    'e-350': 'Ford',
    'e-450': 'Ford',
    'e-class': 'Mercedes-Benz',
    'e-golf': 'Volkswagen',
    'e-pace': 'Jaguar',
    'e-series': 'Ford',
    'e150': 'Ford',
    'e250': 'Ford',
    'e350': 'Ford',
    'e450': 'Ford',
    'e550': 'Ford',
    'eagle': 'Eagle',
    'echo': 'Toyota',
    'eclipse': 'Mitsubishi',
    'eclipses': 'Mitsubishi',
    'econoline': 'Ford',
    'ecosport': 'Ford',
    'edge': 'Ford',
    'el': 'Chevrolet',
    'elantra': 'Hyundai',
    'eldorado': 'Cadillac',
    'element': 'Honda',
    'enclave': 'Buick',
    'encore': 'Buick',
    'endeavor': 'Mitsubishi',
    'entourage': 'Hyundai',
    'envoy': 'GMC',
    'envoy/sle': 'GMC',
    'eos': 'Volkswagen',
    'equinox': 'Chevrolet',
    'equus': 'Hyundai',
    'es300': 'Lexus',
    'es330': 'Lexus',
    'es350': 'Lexus',
    'escalade': 'Cadillac',
    'escape-se,': 'Ford',
    'eurovan': 'Volkswagen',
    'evoque': 'Land Rover',
    'ex35': 'Infiniti',
    'excursion': 'Ford',
    'expedition': 'Ford',
    'explorer': 'Ford',
    'express': 'Chevrolet',
    'f': 'Ford',
    'f-150': 'Ford',
    'f-250': 'Ford',
    'f-250sd': 'Ford',
    'f-350': 'Ford',
    'f-350sd': 'Ford',
    'f-450': 'Ford',
    'f-450sd': 'Ford',
    'f-550': 'Ford',
    'f-650': 'Ford',
    'f-750': 'Ford',
    'f-pace': 'Jaguar',
    'f-super': 'Ford',
    'f-superduty': 'Ford',
    'f-type': 'Jaguar',
    'f1': 'Ford',
    'f100': 'Ford',
    'f150': 'Ford',
    'f250': 'Ford',
    'f250sd': 'Ford',
    'f350': 'Ford',
    'f350sd': 'Ford',
    'f450': 'Ford',
    'f550': 'Ford',
    'f650': 'Ford',
    'f650xl': 'Ford',
    'f800': 'Ford',
    'fairlane': 'Ford',
    'falcon': 'Ford',
    'fiesta': 'Ford',
    'fifth': 'Chrysler',
    'firebird': 'Pontiac',
    'fit': 'Honda',
    'fj': 'Toyota',
    'flex': 'Ford',
    'focus': 'Ford',
    'forester': 'Subaru',
    'forte': 'Kia',
    'freestar': 'Ford',
    'freestyle': 'Ford',
    'frontier': 'Nissan',
    'fusion': 'Ford',
    'fuso': 'Mitsubishi',
    'fx35': 'Infiniti',
    'g': 'Infiniti',
    'g35': 'Infiniti',
    'g37': 'Infiniti',
    'g37x': 'Infiniti',
    'g5': 'Pontiac',
    'g6': 'Pontiac',
    'g8': 'Pontiac',
    'genesis': 'Hyundai',
    'geo': 'Geo',
    'gl': 'Mercedes-Benz',
    'gl-class': 'Mercedes-Benz',
    'gla': 'Mercedes-Benz',
    'gla-class': 'Mercedes-Benz',
    'gladiator': 'Jeep',
    'glc': 'Mercedes-Benz',
    'glc-class': 'Mercedes-Benz',
    'gle': 'Mercedes-Benz',
    'glk': 'Mercedes-Benz',
    'glk-class': 'Mercedes-Benz',
    'gls': 'Mercedes-Benz',
    'golf': 'Volkswagen',
    'grand': 'Jeep',
    'grand+cherokee': 'Jeep',
    'gs': 'Lexus',
    'gs300': 'Lexus',
    'gs350': 'Lexus',
    'gs400': 'Lexus',
    'gti': 'Volkswagen',
    'gto': 'Pontiac',
    'gx': 'Lexus',
    'gx470': 'Lexus',
    'hardtop': 'Mercedes-Benz',
    'hhr': 'Chevrolet',
    'highlander': 'Toyota',
    'hr-v': 'Honda',
    'hrv': 'Honda',
    'hyandai': 'Hyundai',
    'hyndai': 'Hyundai',
    'ilx': 'Acura',
    'impala': 'Chevrolet',
    'impreza': 'Subaru',
    'insight': 'Honda',
    'international': 'International Harvester',
    'ion': 'Saturn',
    'ioniq': 'Hyundai',
    'is': 'Lexus',
    'is250': 'Lexus',
    'is350': 'Lexus',
    'isuzu': 'Isuzu',
    'jetta': 'Volkswagen',
    'jimmy': 'GMC',
    'john': 'John Deere',
    'journey': 'Dodge',
    'juke': 'Nissan',
    'justy': 'Subaru',
    'jx': 'Infiniti',
    'k10': 'Chevrolet',
    'k900': 'Kia',
    'karmann': 'Volkswagen',
    'kona': 'Hyundai',
    'l-series': 'Saturn',
    'lacrosse': 'Buick',
    'lancer': 'Mitsubishi',
    'land': 'Land Rover',
    'landcruiser': 'Toyota',
    'leaf': 'Nissan',
    'legacy': 'Subaru',
    'lesabre': 'Buick',
    'liberty': 'Jeep',
    'lifted': 'Chevrolet',
    'limousine': 'Cadillac',
    'liteace': 'Toyota',
    'lr2': 'Land Rover',
    'lr3': 'Land Rover',
    'lr4': 'Land Rover',
    'ls': 'Lexus',
    'ls430': 'Lexus',
    'ls460': 'Lexus',
    'ltd': 'Ford',
    'lucerne': 'Buick',
    'lumina': 'Chevrolet',
    'lx': 'Lexus',
    'm': 'BMW',
    'm-class': 'Mercedes-Benz',
    'm.b.': 'Mercedes-Benz',
    'm3': 'BMW',
    'm35x': 'Infiniti',
    'm37': 'Infiniti',
    'm4': 'BMW',
    'm45': 'Infiniti',
    'm5': 'BMW',
    'm6': 'BMW',
    'macan': 'Porsche',
    'magnum': 'Dodge',
    'malibu': 'Chevrolet',
    'mariner': 'Mercury',
    'mark': 'Lincoln',
    'maserati': 'Maserati',
    'matrix': 'Toyota',
    'maxima': 'Nissan',
    'mazda3': 'Mazda',
    'mazda5': 'Mazda',
    'mazda6': 'Mazda',
    'mazdaspeed6': 'Mazda',
    'mdx': 'Acura',
    'mercedes-amg': 'Mercedes-Benz',
    'mercedez': 'Mercedes-Benz',
    'metris': 'Mercedes-Benz',
    'mg': 'MG',
    'miata': 'Mazda',
    'milan': 'Mercury',
    'mirage': 'Mitsubishi',
    'mkc': 'Lincoln',
    'mks': 'Lincoln',
    'mkt': 'Lincoln',
    'mkx': 'Lincoln',
    'mkz': 'Lincoln',
    'ml': 'Mercedes-Benz',
    'ml350': 'Mercedes-Benz',
    'model': 'Tesla',
    'monte': 'Chevrolet',
    'montego': 'Mercury',
    'montero': 'Mitsubishi',
    'mountaineer': 'Mercury',
    'mr2': 'Toyota',
    'murano': 'Nissan',
    'mustang': 'Ford',
    'mx-5': 'Mazda',
    'nautilus': 'Lincoln',
    'navigator': 'Lincoln',
    'new': 'New Flyer',
    'newport': 'Chrysler',
    'niro': 'Kia',
    'nisaan': 'Nissan',
    'nitro': 'Dodge',
    'nova': 'Chevrolet',
    'nsx': 'Acura',
    'nv': 'Nissan',
    'nv1500': 'Nissan',
    'nv200': 'Nissan',
    'nv2500': 'Nissan',
    'nx': 'Lexus',
    'odyssey': 'Honda',
    'oldsmobile': 'Oldsmobile',
    'optima': 'Kia',
    'outback': 'Subaru',
    'outlander': 'Mitsubishi',
    'outlook': 'Saturn',
    'p900': 'Nissan',
    'pacifica': 'Chrysler',
    'panamera': 'Porsche',
    'park': 'Chevrolet',
    'paseo': 'Toyota',
    'passat': 'Volkswagen',
    'passport': 'Honda',
    'pathfinder': 'Nissan',
    'patriot': 'Jeep',
    'patriot.': 'Jeep',
    'pick': 'Toyota',
    'pickup': 'Toyota',
    'pilot': 'Honda',
    'police': 'Ford',
    'prelude': 'Honda',
    'prius': 'Toyota',
    'probe': 'Ford',
    'promaster': 'Ram',
    'protege': 'Mazda',
    'pt': 'Chrysler',
    'q3': 'Audi',
    'q40': 'Infiniti',
    'q45': 'Infiniti',
    'q5': 'Audi',
    'q50': 'Infiniti',
    'q60': 'Infiniti',
    'q7': 'Audi',
    'q8': 'Audi',
    'quad': 'Polaris',
    'quest': 'Nissan',
    'qx50': 'Infiniti',
    'qx56': 'Infiniti',
    'qx60': 'Infiniti',
    'qx70': 'Infiniti',
    'qx80': 'Infiniti',
    'r': 'Lexus',
    'r-class': 'Mercedes-Benz',
    'rabbit': 'Volkswagen',
    'ram': 'Ram',
    'range': 'Land Rover',
    'ranger': 'Ford',
    'raptor': 'Ford',
    'rav4': 'Toyota',
    'rav4-le': 'Toyota',
    'rav4x': 'Toyota',
    'rdx': 'Acura',
    'red': 'Ford',
    'redline': 'Saturn',
    'regal': 'Buick',
    'regal-t': 'Buick',
    'regency': 'Oldsmobile',
    'relay': 'Saturn',
    'renegade': 'Jeep',
    'ridgeline': 'Honda',
    'rio': 'Kia',
    'riviera': 'Buick',
    'roadster': 'Tesla',
    'rogue': 'Nissan',
    'rogue.': 'Nissan',
    'rogue/select': 'Nissan',
    'rx': 'Lexus',
    'rx300': 'Lexus',
    'rx330': 'Lexus',
    'rx350': 'Lexus',
    'rx450h': 'Lexus',
    's': 'BMW',
    's-class': 'Mercedes-Benz',
    's10': 'Chevrolet',
    's2000': 'Honda',
    's4': 'Audi',
    's5': 'Audi',
    's550': 'Mercedes-Benz',
    's60': 'Volvo',
    's60i': 'Volvo',
    's60t5': 'Volvo',
    's70': 'Volvo',
    's8': 'Audi',
    's80': 'Volvo',
    's90': 'Volvo',
    'sable': 'Mercury',
    'safari': 'GMC',
    'santa': 'Hyundai',
    'santa-fe': 'Hyundai',
    'saturn': 'Saturn',
    'sc': 'Lexus',
    'sc2': 'Saturn',
    'sc400': 'Lexus',
    'sc430': 'Lexus',
    'sedan': 'Toyota',
    'sedona': 'Kia',
    'sequoia': 'Toyota',
    'seven': 'Lotus',
    'shelby': 'Ford',
    'sienna': 'Toyota',
    'sierra': 'GMC',
    'sierra+denali': 'GMC',
    'sierra/sle': 'GMC',
    'silverado': 'Chevrolet',
    'silverado.': 'Chevrolet',
    'sl': 'Mercedes-Benz',
    'sl-class': 'Mercedes-Benz',
    'slc': 'Mercedes-Benz',
    'slc-class': 'Mercedes-Benz',
    'slk': 'Mercedes-Benz',
    'slk-class': 'Mercedes-Benz',
    'sls': 'Mercedes-Benz',
    'sls-amg': 'Mercedes-Benz',
    'sls-class': 'Mercedes-Benz',
    'solstice': 'Pontiac',
    'sonata': 'Hyundai',
    'sonic': 'Chevrolet',
    'sorento': 'Kia',
    'soul': 'Kia',
    'spark': 'Chevrolet',
    'spectra': 'Kia',
    'sportage': 'Kia',
    'sprinter': 'Mercedes-Benz',
    'spyder': 'Porsche',
    'sr5': 'Toyota',
    'ss': 'Chevrolet',
    'sts': 'Cadillac',
    'suburban': 'Chevrolet',
    'sundance': 'Dodge',
    'sunfire': 'Pontiac',
    'super': 'Chevrolet',
    'superduty': 'Ford',
    'supra': 'Toyota',
    'swift': 'Suzuki',
    't100': 'Toyota',
    'tacoma': 'Toyota',
    'tahoe': 'Chevrolet',
    'talon': 'Eagle',
    'taurus': 'Ford',
    'tbd': 'TBD',
    'tco': 'Mercedes-Benz',
    'tempo': 'Ford',
    'terrain': 'GMC',
    'terraza': 'Buick',
    'terrian': 'GMC',
    'tiburon': 'Hyundai',
    'tiguan': 'Volkswagen',
    'titan': 'Nissan',
    'titanium': 'Ford',
    'tl': 'Acura',
    'tlx': 'Acura',
    'touareg': 'Volkswagen',
    'touareg.': 'Volkswagen',
    'town': 'Chrysler',
    'townace': 'Toyota',
    'towncar': 'Lincoln',
    'towncountry': 'Chrysler',
    'trailblazer': 'Chevrolet',
    'transit': 'Ford',
    'transit-connect': 'Ford',
    'transit-350': 'Ford',
    'traverse': 'Chevrolet',
    'trax': 'Chevrolet',
    'tribeca': 'Subaru',
    'tribute': 'Mazda',
    'triple': 'Ford',
    'trooper': 'Isuzu',
    'tsx': 'Acura',
    'tucson': 'Hyundai',
    'tundra': 'Toyota',
    'ultra': 'Chevrolet',
    'ultra-low': 'Chevrolet',
    'v70': 'Volvo',
    'v90': 'Volvo',
    'vandura': 'GMC',
    'velar': 'Land Rover',
    'veloster': 'Hyundai',
    'venza': 'Toyota',
    'venture': 'Chevrolet',
    'verano': 'Buick',
    'verna': 'Hyundai',
    'versa': 'Nissan',
    'vibe': 'Pontiac',
    'viper': 'Dodge',
    'virage': 'Aston Martin',
    'vista': 'Chrysler',
    'volt': 'Chevrolet',
    'vue': 'Saturn',
    'vw': 'Volkswagen',
    'wagon': 'Ford',
    'wrangler': 'Jeep',
    'x': 'BMW',
    'x-3': 'BMW',
    'x-5': 'BMW',
    'x-7': 'BMW',
    'x-type': 'Jaguar',
    'x1': 'BMW',
    'x1/28i': 'BMW',
    'x3': 'BMW',
    'x3-28i': 'BMW',
    'x4': 'BMW',
    'x5': 'BMW',
    'x5/35i': 'BMW',
    'x6': 'BMW',
    'x6/35i': 'BMW',
    'xc40': 'Volvo',
    'xc60': 'Volvo',
    'xc70': 'Volvo',
    'xc90': 'Volvo',
    'xd': 'Scion',
    'xe': 'Jaguar',
    'xf': 'Jaguar',
    'xg': 'Hyundai',
    'xj': 'Jaguar',
    'xj-series': 'Jaguar',
    'xj6': 'Jaguar',
    'xj8': 'Jaguar',
    'xjl': 'Jaguar',
    'xjr': 'Jaguar',
    'xjs': 'Jaguar',
    'xk': 'Jaguar',
    'xk-series': 'Jaguar',
    'xk8': 'Jaguar',
    'xk8-convertible': 'Jaguar',
    'xkr': 'Jaguar',
    'xl': 'GMC',
    'xterra': 'Nissan',
    'xts': 'Cadillac',
    'xv': 'Subaru',
    'xv+cross': 'Subaru',
    'xv-crosstrek': 'Subaru',
    'yaris': 'Toyota',
    'yukon': 'GMC',
    'yukon-denali': 'GMC',
    'yukon-xl': 'GMC',
    'z3': 'BMW',
    'z4': 'BMW',
    'zephyr': 'Lincoln',
    'zoo': 'Zoo',
    'zr2': 'Chevrolet',
    'zr2.': 'Chevrolet',
    'zrx': 'Kawasaki',
    'zx2': 'Ford'
}

# Map the dictionary values to the 'manufacturer' column based on the 'model' column
null_manufacturer_rows['manufacturer'] = null_manufacturer_rows['model'].map(model_to_manufacturer)

C:\Users\ishik\AppData\Local\Temp\ipykernel_59780\591789157.py:739: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_manufacturer_rows['manufacturer'] = null_manufacturer_rows['model'].map(model_to_manufacturer)

In [825]:
# Fill null values in 'manufacturer' column of original DataFrame
df['manufacturer'] = df['manufacturer'].fillna(null_manufacturer_rows['manufacturer'])

C:\Users\ishik\AppData\Local\Temp\ipykernel_59780\3052627817.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['manufacturer'] = df['manufacturer'].fillna(null_manufacturer_rows['manufacturer'])

In [826]:
# Drop rows with null values in below columns
df = df.dropna(subset=['manufacturer', 'model','year'])

In [827]:
df = df[(df['year'] > 1989) & (df['price'].between(2000, 70000))]

df
# # Show the filtered data
# print(df)

# # Checking if above condition worked
# if (df['price'] < 2000).any():
#     print("It didn't work")
# else:
#     print(df['price'])

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state
27,auburn,33590,2014.0,gmc,1,good,8 cylinders,gas,57923.0,clean,other,NaN,pickup,white,al
28,auburn,22590,2010.0,chevrolet,1,good,8 cylinders,gas,71229.0,clean,other,NaN,pickup,blue,al
29,auburn,39590,2020.0,chevrolet,100000,good,8 cylinders,gas,19160.0,clean,other,NaN,pickup,red,al
30,auburn,30990,2017.0,toyota,107566,good,8 cylinders,gas,41124.0,clean,other,NaN,pickup,red,al
31,auburn,15000,2013.0,ford,123357,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,wyoming,23590,2019.0,nissan,♿,good,6 cylinders,gas,32226.0,clean,other,fwd,sedan,NaN,wy
426876,wyoming,30590,2020.0,volvo,♿,good,NaN,gas,12029.0,clean,other,fwd,sedan,red,wy
426877,wyoming,34990,2020.0,cadillac,♿,good,NaN,diesel,4174.0,clean,other,NaN,hatchback,white,wy
426878,wyoming,28990,2018.0,lexus,𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼,good,6 cylinders,gas,30112.0,clean,other,fwd,sedan,silver,wy
426879,wyoming,30590,2019.0,bmw,🔥GMC,good,NaN,gas,22716.0,clean,other,rwd,coupe,NaN,wy

In [828]:
# Set the maximum number of null values allowed in a row
#max_null_values = 4

# Count the number of null values in each row using the isnull() method and sum() method
#null_counts_per_row = df.isnull().sum(axis=1)

# Filter out the rows with four or fewer null values using boolean indexing
#df = df[null_counts_per_row <= max_null_values]

In [829]:
# Reset the index
df.reset_index(drop=True, inplace=True)
#Reindexing DataFrame so that price feature will at last
df= df.reindex(columns=['region', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission','drive','type', 'paint_color','state', 'price'])

df

,region,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,price
0,auburn,2014.0,gmc,1,good,8 cylinders,gas,57923.0,clean,other,NaN,pickup,white,al,33590
1,auburn,2010.0,chevrolet,1,good,8 cylinders,gas,71229.0,clean,other,NaN,pickup,blue,al,22590
2,auburn,2020.0,chevrolet,100000,good,8 cylinders,gas,19160.0,clean,other,NaN,pickup,red,al,39590
3,auburn,2017.0,toyota,107566,good,8 cylinders,gas,41124.0,clean,other,NaN,pickup,red,al,30990
4,auburn,2013.0,ford,123357,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,al,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310505,wyoming,2019.0,nissan,♿,good,6 cylinders,gas,32226.0,clean,other,fwd,sedan,NaN,wy,23590
310506,wyoming,2020.0,volvo,♿,good,NaN,gas,12029.0,clean,other,fwd,sedan,red,wy,30590
310507,wyoming,2020.0,cadillac,♿,good,NaN,diesel,4174.0,clean,other,NaN,hatchback,white,wy,34990
310508,wyoming,2018.0,lexus,𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼,good,6 cylinders,gas,30112.0,clean,other,fwd,sedan,silver,wy,28990
310509,wyoming,2019.0,bmw,🔥GMC,good,NaN,gas,22716.0,clean,other,rwd,coupe,NaN,wy,30590

In [830]:
##YEAR
# Convert 'year' column from float to int
df['year'] = df['year'].astype(int)

##ODOMETER
# Calculate median
odometer_median = df['odometer'].median()
# Fill null values with the median
df['odometer'].fillna(odometer_median, inplace=True)

##Cylinders
# Split the string based on non-numeric characters and keep only the first part for 'cylinders' column
df['cylinders'] = df['cylinders'].str.split().str[0]
# Replace 'other' with nan in 'cylinders' column
df['cylinders'] = df['cylinders'].replace({'other': np.nan})

In [831]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310510 entries, 0 to 310509
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        310510 non-null  object
 1   year          310510 non-null  int32
 2   manufacturer  310510 non-null  object
 3   model         310510 non-null  object
 4   condition     200867 non-null  object
 5   cylinders     183515 non-null  object
 6   fuel          308670 non-null  object
 7   odometer      310510 non-null  float64
 8   title_status  305598 non-null  object
 9   transmission  309075 non-null  object
 10  drive         217353 non-null  object
 11  type          247578 non-null  object
 12  paint_color   225601 non-null  object
 13  state         310510 non-null  object
 14  price         310510 non-null  int64
dtypes: float64(1), int32(1), int64(1), object(12)
memory usage: 34.4+ MB

In [832]:
df.isnull().sum()

region               0
year                 0
manufacturer         0
model                0
condition       109643
cylinders       126995
fuel              1840
odometer             0
title_status      4912
transmission      1435
drive            93157
type             62932
paint_color      84909
state                0
price                0
dtype: int64

In [833]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, ExtraTreesClassifier
from sklearn.linear_model import Ridge, LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.svm import SVR, SVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,r2_score, confusion_matrix, roc_auc_score

In [834]:
##Filling null values of condition column
# Make a copy of the DataFrame
df_copy = df.copy()

# Step 1: Split the dataset into non-null and null rows
non_null_data = df_copy.dropna(subset=['condition'])

null_data = df_copy[df_copy['condition'].isnull()]

# Step 2: Split non-null rows into features and target variable
X = non_null_data[['year', 'price', 'odometer']]
y = non_null_data['condition']

# Step 3: Split the non-null data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Train a machine learning model
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Step 5: Predict the missing 'condition' values
null_X = null_data[['year', 'price', 'odometer']]
predicted_conditions = model.predict(null_X)

# Step 6: Replace missing values in the df_copy DataFrame
df_copy.loc[df_copy['condition'].isnull(), 'condition'] = predicted_conditions

# Step 6: Evaluate the accuracy of the model
actual_conditions = non_null_data['condition']
predicted_conditions_non_null = model.predict(X)

accuracy = accuracy_score(actual_conditions, predicted_conditions_non_null)
print("Accuracy:", accuracy)



#checking for accuracy of differnt models
# List of models to try
models = {
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    "Decision Tree": DecisionTreeClassifier(),
    "RandomForestClassifier":RandomForestClassifier()
}

# Loop over each model
for name, model in models.items():
    # Train the model
    model.fit(X_train, y_train)
    
    # Predict the labels
    y_pred = model.predict(X_test)
    
    # Evaluate the accuracy
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name}: Accuracy = {accuracy:.4f}")



# for name, model in models.items():
#     # Train the model
#     model.fit(X_train, y_train)
    
#     # Predict the labels
#     y_pred = model.predict(X_test)
    
#     # Evaluate the metrics
#     accuracy = accuracy_score(y_test, y_pred)
#     r2 = r2_score(y_test, y_pred)
#     cm = confusion_matrix(y_test, y_pred)
#     auc = roc_auc_score(y_test, y_pred)  # Assuming y_test and y_pred are binary
    
#     print(f"{name}:")
#     print(f"Accuracy = {accuracy:.4f}")
#     print(f"R2 Score = {r2:.4f}")
#     print("Confusion Matrix:")
#     print(cm)
#     print(f"AUC = {auc:.4f}")
#     print("-------------------")


#Replacing in original df
df['condition'] = df_copy['condition']

Accuracy: 0.9383671782821469

c:\Users\ishik\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression: Accuracy = 0.5366
K-Nearest Neighbors: Accuracy = 0.6793
Decision Tree: Accuracy = 0.7009
RandomForestClassifier: Accuracy = 0.7284

In [835]:
df.isnull().sum()

region               0
year                 0
manufacturer         0
model                0
condition            0
cylinders       126995
fuel              1840
odometer             0
title_status      4912
transmission      1435
drive            93157
type             62932
paint_color      84909
state                0
price                0
dtype: int64

In [836]:
##figuring best model for cylinders
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from category_encoders import TargetEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression

# 1. Separate data into two sets based on null values in the 'cylinders' column
df_non_null = df_copy[df_copy['cylinders'].notnull()]
df_null = df_copy[df_copy['cylinders'].isnull()]

# 2. Convert non null'cylinders' to numeric type
df_non_null['cylinders'] = pd.to_numeric(df_non_null['cylinders'], errors='coerce')

# 3. Define features and target for non-null data
X_non_null = df_non_null[['year', 'manufacturer', 'model', 'price']]
y_non_null = df_non_null['cylinders']

# 4. Split non-null data into training and testing
X_train_non_null, X_test_non_null, y_train_non_null, y_test_non_null = train_test_split(
    X_non_null, y_non_null, test_size=0.2, random_state=42)

# 5. Encode categorical features using target encoding
encoder = TargetEncoder(cols=['manufacturer', 'model'])
X_train_encoded = encoder.fit_transform(X_train_non_null, y_train_non_null)
X_test_encoded = encoder.transform(X_test_non_null)

# 6. Impute missing values in encoded data
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_test_imputed = imputer.transform(X_test_encoded)

# 7. Define classifiers
classifiers = {
    "Random Forest": RandomForestClassifier(),
    "Gradient Boosting": GradientBoostingClassifier(),
    "Logistic Regression": LogisticRegression()
}

# 8. Iterate through different models
for name, clf in classifiers.items():
    print(f"Evaluating Classifier: {name}")
    
    # Train the classifier
    clf.fit(X_train_imputed, y_train_non_null)

    # Predict on the test set
    y_pred = clf.predict(X_test_imputed)

    # Evaluate the accuracy
    accuracy = accuracy_score(y_test_non_null, y_pred)
    print(f"Accuracy = {accuracy:.4f}")

    print()  # Add a blank line between different classifiers

C:\Users\ishik\AppData\Local\Temp\ipykernel_59780\822054550.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_null['cylinders'] = pd.to_numeric(df_non_null['cylinders'], errors='coerce')

Evaluating Classifier: Random Forest
Accuracy = 0.7712

Evaluating Classifier: Gradient Boosting
Accuracy = 0.7162

Evaluating Classifier: Logistic Regression
Accuracy = 0.4505

c:\Users\ishik\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [837]:
## filling null values in cylinders
# Initialize a new target encoder
encoder_null = TargetEncoder(cols=['manufacturer', 'model'])

# Encode categorical features using target encoding for df_non_null
X_non_null_encoded = encoder_null.fit_transform(df_non_null[['year', 'manufacturer', 'model', 'price']], df_non_null['cylinders'])

# Encode categorical features using target encoding for df_null
X_null_encoded = encoder_null.transform(df_null[['year', 'manufacturer', 'model', 'price']])

# Impute missing values in encoded data
X_null_imputed = imputer.transform(X_null_encoded)

# Use the trained Random Forest model to predict missing values
predicted_cylinders = clf.predict(X_null_imputed)

# Replace null values with predicted values in df_null
df_null.loc[:, 'cylinders'] = predicted_cylinders

# Concatenate df_non_null and df_null back together
df_combined = pd.concat([df_non_null, df_null], axis=0)

# Sort the DataFrame index
df_combined.sort_index(inplace=True)

# Assign df_combined back to df_copy
df_copy = df_combined.copy()

In [838]:
df_copy.isnull().sum()

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel             1840
odometer            0
title_status     4912
transmission     1435
drive           93157
type            62932
paint_color     84909
state               0
price               0
dtype: int64

In [839]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 310510 entries, 0 to 310509
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        310510 non-null  object
 1   year          310510 non-null  int32
 2   manufacturer  310510 non-null  object
 3   model         310510 non-null  object
 4   condition     310510 non-null  object
 5   cylinders     310510 non-null  object
 6   fuel          308670 non-null  object
 7   odometer      310510 non-null  float64
 8   title_status  305598 non-null  object
 9   transmission  309075 non-null  object
 10  drive         217353 non-null  object
 11  type          247578 non-null  object
 12  paint_color   225601 non-null  object
 13  state         310510 non-null  object
 14  price         310510 non-null  int64
dtypes: float64(1), int32(1), int64(1), object(12)
memory usage: 36.7+ MB

In [840]:
df['cylinders']=df_copy['cylinders']
df['cylinders']=df['cylinders'].astype(int)

In [841]:
df.isnull().sum()

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel             1840
odometer            0
title_status     4912
transmission     1435
drive           93157
type            62932
paint_color     84909
state               0
price               0
dtype: int64

In [842]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310510 entries, 0 to 310509
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        310510 non-null  object
 1   year          310510 non-null  int32
 2   manufacturer  310510 non-null  object
 3   model         310510 non-null  object
 4   condition     310510 non-null  object
 5   cylinders     310510 non-null  int32
 6   fuel          308670 non-null  object
 7   odometer      310510 non-null  float64
 8   title_status  305598 non-null  object
 9   transmission  309075 non-null  object
 10  drive         217353 non-null  object
 11  type          247578 non-null  object
 12  paint_color   225601 non-null  object
 13  state         310510 non-null  object
 14  price         310510 non-null  int64
dtypes: float64(1), int32(2), int64(1), object(11)
memory usage: 33.2+ MB

In [843]:
df['manufacturer']=df['manufacturer'].str.replace('-', '')
df['manufacturer'].unique()

array(['gmc', 'chevrolet', 'toyota', 'ford', 'jeep', 'nissan', 'ram',
       'mazda', 'cadillac', 'honda', 'dodge', 'lexus', 'jaguar', 'buick',
       'chrysler', 'volvo', 'audi', 'infiniti', 'lincoln', 'alfaromeo',
       'subaru', 'acura', 'hyundai', 'mercedesbenz', 'bmw', 'mitsubishi',
       'volkswagen', 'porsche', 'kia', 'rover', 'mini', 'pontiac', 'fiat',
       'tesla', 'saturn', 'mercury', 'harleydavidson', 'GMC', 'BMW',
       'Mitsubishi', 'Nissan', 'Toyota', 'Fiat', 'Honda', 'Freightliner',
       'Hyundai', 'astonmartin', 'Hummer', 'Hino',
       'International Harvester', 'Isuzu', 'MercedesBenz', 'Maserati',
       'Peterbilt', 'Saab', 'Audi', 'land rover', 'Subaru', 'Chevrolet',
       'Volkswagen', 'Cadillac', 'Saturn', 'Dodge', 'Pontiac', 'Porsche',
       'Ford', 'Chrysler', 'Buick', 'Jeep', 'Acura', 'Lincoln', 'MINI',
       'Lexus', 'Cummins', 'Mazda', 'Diesel', 'Land Rover', 'Jaguar',
       'Kia', 'Infiniti', 'Geo', 'Mercury', 'Tesla', 'New Flyer',
       'Oldsmobile', 'Ram', 'Volvo', 'ferrari'], dtype=object)

In [844]:
# f_non_null_fuel = df_non_null[df_non_null['fuel'].notnull()]
# df_null_fuel = df_null[df_null['fuel'].isnull()]

# # Step 2: Encode categorical variables
# label_encoder = LabelEncoder()
# df_non_null_fuel['manufacturer_encoded'] = label_encoder.fit_transform(df_non_null_fuel['manufacturer'])

# # Step 3: Define features and target variable for non-null data
# X_non_null = df_non_null_fuel[['price', 'manufacturer_encoded']]
# y_non_null = df_non_null_fuel['fuel']

# # Step 4: Split the non-null data into train and test sets
# X_train, X_test, y_train, y_test = train_test_split(X_non_null, y_non_null, test_size=0.2, random_state=42)

# # Step 5: Train a RandomForestClassifier model to predict 'fuel' values
# model = RandomForestClassifier()
# model.fit(X_train, y_train)

# # Step 6: Encode categorical variables in the null data
# df_null_fuel['manufacturer_encoded'] = label_encoder.transform(df_null_fuel['manufacturer'])

# # Step 7: Predict the missing 'fuel' values
# X_null = df_null_fuel[['price', 'manufacturer_encoded']]
# predicted_fuel = model.predict(X_null)

# # Step 8: Fill null values in the original dataframe
# df_null_fuel['fuel'] = predicted_fuel

# # Step 9: Combine filled null values with non-null data
# df_filled = pd.concat([df_non_null_fuel, df_null_fuel])

# # df_filled

In [845]:

# Step 1: Convert 'fuel' column to categorical data type
df['fuel'] = df['fuel'].astype('category')

# Step 2: Split the dataset into non-null and null values in the 'fuel' column
df_non_null_fuel = df.dropna(subset=['fuel'])
df_null_fuel = df[df['fuel'].isnull()]

# Step 3: One-hot encode the 'manufacturer' column
encoder = OneHotEncoder()
manufacturer_encoded = encoder.fit_transform(df_non_null_fuel[['manufacturer']])

# Step 4: Train a RandomForestClassifier model to predict 'fuel' values
X_train, X_test, y_train, y_test = train_test_split(manufacturer_encoded, df_non_null_fuel['fuel'], test_size=0.2, random_state=42)
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Step 5: Predict the missing 'fuel' values
X_null = encoder.transform(df_null_fuel[['manufacturer']])
predicted_fuel = model.predict(X_null)

# Step 6: Fill the null values in 'fuel' column with predicted values
df_null_fuel['fuel'] = predicted_fuel

# Combine filled df_null_fuel with df_non_null_fuel
df_filled = pd.concat([df_non_null_fuel, df_null_fuel])

# Check if there are still any null values in 'fuel' column
print(df_filled['fuel'].isnull().sum())

df_filled.isnull().sum()

# Now df_filled should have no null values in the 'fuel' column

0

C:\Users\ishik\AppData\Local\Temp\ipykernel_59780\1535644564.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_null_fuel['fuel'] = predicted_fuel

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel                0
odometer            0
title_status     4912
transmission     1435
drive           93157
type            62932
paint_color     84909
state               0
price               0
dtype: int64

In [846]:
df3=df_filled['fuel'].copy()

In [847]:
df3.info()

<class 'pandas.core.series.Series'>
Index: 310510 entries, 0 to 310347
Series name: fuel
Non-Null Count   Dtype
--------------   -----
310510 non-null  object
dtypes: object(1)
memory usage: 4.7+ MB

In [848]:
df3.isnull().sum()

0

In [849]:
df['drive'].unique()

array([nan, 'rwd', '4wd', 'fwd'], dtype=object)

In [850]:
df['drive'].isnull().sum()

93157

In [851]:
df3.isnull().sum()

0

In [852]:
df3=df.copy()

In [853]:
# import pandas as pd
# from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import OrdinalEncoder
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score



# # Fill null values in 'drive' column with a placeholder value
# df['drive'].fillna('unknown_drive', inplace=True)

# # Separate data into features (X) and target variable (y)
# X = df[['manufacturer', 'model']]
# y = df['drive']

# # Fill missing values in X with a placeholder value
# imputer = SimpleImputer(strategy='constant', fill_value='unknown_model')
# X = imputer.fit_transform(X)

# # Label encode categorical variables with handling of unknown labels
# encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
# X[:, 1] = encoder.fit_transform(X[:, 1].reshape(-1, 1)).reshape(-1)

# # Split data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Train a Random Forest Classifier
# model = RandomForestClassifier(random_state=42)
# model.fit(X_train[:, 1].reshape(-1, 1), y_train)

# # Predict 'drive' values for the test set
# predicted_drive = model.predict(X_test[:, 1].reshape(-1, 1))

# # Fill null values in the 'drive' column with predicted values
# null_drive_indices = df[df['drive'].isnull()].index
# df.loc[null_drive_indices, 'drive'] = predicted_drive[:len(null_drive_indices)]

# # Check for remaining null values in 'drive' column
# print(df['drive'].isnull().sum())

In [854]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

# Assuming df is your DataFrame containing the data

# Step 1: Split data into train and test sets
# Splitting the data into train and test sets
train_data = df[df['drive'].notnull()]
test_data = df[df['drive'].isnull()]

# Step 2: One-Hot Encode Categorical Variables
# Select categorical columns for encoding
categorical_cols = ['manufacturer', 'model']

# Initialize OneHotEncoder and fit on train data
encoder = OneHotEncoder(handle_unknown='ignore')
encoder.fit(train_data[categorical_cols])

# Transform train and test data using the encoder
X_train_encoded = encoder.transform(train_data[categorical_cols])
X_test_encoded = encoder.transform(test_data[categorical_cols])

# Step 3: Train a Random Forest Classifier
# Split the train data into features and target variable
X_train = X_train_encoded
y_train = train_data['drive']

# Initialize and train a Random Forest Classifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Step 4: Predict Null Values in 'drive' column
# Predict 'drive' values for instances in test data
predicted_drive = model.predict(X_test_encoded)

# Step 5: Fill Null Values in 'drive' column
# Update 'drive' column in original DataFrame with predicted values
df.loc[df['drive'].isnull(), 'drive'] = predicted_drive

# Check if all null values in 'drive' column have been filled
print(df['drive'].isnull().sum())

0

In [855]:
df['drive'].isnull().sum()

0

In [856]:
df.isnull().sum()

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel             1840
odometer            0
title_status     4912
transmission     1435
drive               0
type            62932
paint_color     84909
state               0
price               0
dtype: int64

In [857]:
df['title_status'].isnull().sum()

4912

In [858]:
df_train = df.dropna(subset=['title_status'])
df_predict = df[df['title_status'].isnull()]

# Step 2: Encode Categorical Variables
# Encode categorical target variable 'title_status'
encoder = LabelEncoder()
y_train = encoder.fit_transform(df_train['title_status'])

# Step 3: Train a Classification Model
# Split training data into features (X_train) and encoded target variable (y_train)
X_train = df_train[['price']]  # Feature: price column

# Initialize and train a Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Step 4: Predict Null Values
# Create dataset for prediction (X_predict)
X_predict = df_predict[['price']]  # Feature: price column

# Predict 'title_status' values for instances in X_predict
predicted_title_status_encoded = model.predict(X_predict)

# Decode the predicted encoded 'title_status' values
predicted_title_status = encoder.inverse_transform(predicted_title_status_encoded)

# Step 5: Fill Null Values
# Update 'title_status' column in original DataFrame with predicted values
df.loc[df['title_status'].isnull(), 'title_status'] = predicted_title_status

# Check if all null values in 'title_status' column have been filled
print(df['title_status'].isnull().sum())

0

c:\Users\ishik\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [859]:
df.isnull().sum()

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel             1840
odometer            0
title_status        0
transmission     1435
drive               0
type            62932
paint_color     84909
state               0
price               0
dtype: int64

In [860]:
df.isnull().sum()

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel             1840
odometer            0
title_status        0
transmission     1435
drive               0
type            62932
paint_color     84909
state               0
price               0
dtype: int64

In [861]:
df.isnull().sum()

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel             1840
odometer            0
title_status        0
transmission     1435
drive               0
type            62932
paint_color     84909
state               0
price               0
dtype: int64

In [862]:
# import pandas as pd
# from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import OrdinalEncoder
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier

# # Fill null values in 'type' column with a placeholder value
# df['type'].fillna('unknown_type', inplace=True)

# # Separate data into features (X) and target variable (y)
# X = df[['manufacturer', 'model']]
# y = df['type']

# # Fill missing values in X with a placeholder value
# imputer = SimpleImputer(strategy='constant', fill_value='unknown_model')
# X = imputer.fit_transform(X)

# # Label encode categorical variables with handling of unknown labels
# encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
# X[:, 1] = encoder.fit_transform(X[:, 1].reshape(-1, 1)).reshape(-1)

# # Split data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Train a Random Forest Classifier
# model = RandomForestClassifier(random_state=42)
# model.fit(X_train[:, 1].reshape(-1, 1), y_train)

# # Predict 'type' values for the test set
# predicted_type = model.predict(X_test[:, 1].reshape(-1, 1))

# # Fill null values in the 'type' column with predicted values
# null_type_indices = df[df['type'].isnull()].index
# df.loc[null_type_indices, 'type'] = predicted_type[:len(null_type_indices)]

# # Check for remaining null values in 'type' column
# print(df['type'].isnull().sum())

In [863]:
df['model']=df['model'].str.replace('-', '')
df['model'].unique()

array(['1', '100000', '107566', ..., '♿', '𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼', '🔥GMC'],
      dtype=object)

In [864]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

# Assuming df is your DataFrame containing the data

# Step 1: Split data into train and test sets
# Splitting the data into train and test sets
train_data = df[df['type'].notnull()]
test_data = df[df['type'].isnull()]

# Step 2: One-Hot Encode Categorical Variables
# Select categorical columns for encoding
categorical_cols = ['model', 'manufacturer']

# Initialize OneHotEncoder and fit on train data
encoder = OneHotEncoder(handle_unknown='ignore')
encoder.fit(train_data[categorical_cols])

# Transform train and test data using the encoder
X_train_encoded = encoder.transform(train_data[categorical_cols])
X_test_encoded = encoder.transform(test_data[categorical_cols])

# Step 3: Train a Random Forest Classifier
# Split the train data into features and target variable
X_train = X_train_encoded
y_train = train_data['type']

# Initialize and train a Random Forest Classifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Step 4: Predict Null Values in 'type' column
# Predict 'type' values for instances in test data
predicted_type = model.predict(X_test_encoded)

# Step 5: Fill Null Values in 'type' column
# Update 'type' column in original DataFrame with predicted values
df.loc[df['type'].isnull(), 'type'] = predicted_type

# Check if all null values in 'type' column have been filled
print(df['type'].isnull().sum())

0

In [865]:
df['type'].unique()

array(['pickup', 'truck', 'other', 'SUV', 'coupe', 'hatchback',
       'mini-van', 'sedan', 'offroad', 'convertible', 'wagon', 'van',
       'bus'], dtype=object)

In [866]:
df.isnull().sum()

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel             1840
odometer            0
title_status        0
transmission     1435
drive               0
type                0
paint_color     84909
state               0
price               0
dtype: int64

In [867]:
# import pandas as pd
# from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import OrdinalEncoder
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier

# # Fill null values in 'transmission' column with a placeholder value
# df['transmission'].fillna('unknown_transmission', inplace=True)

# # Separate data into features (X) and target variable (y)
# X = df[['manufacturer', 'model']]
# y = df['transmission']

# # Fill missing values in X with a placeholder value
# imputer = SimpleImputer(strategy='constant', fill_value='unknown_model')
# X = imputer.fit_transform(X)

# # Label encode categorical variables with handling of unknown labels
# encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
# X[:, 1] = encoder.fit_transform(X[:, 1].reshape(-1, 1)).reshape(-1)

# # Split data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Train a Random Forest Classifier
# model = RandomForestClassifier(random_state=42)
# model.fit(X_train[:, 1].reshape(-1, 1), y_train)

# # Predict 'transmission' values for the test set
# predicted_transmission = model.predict(X_test[:, 1].reshape(-1, 1))

# # Fill null values in the 'transmission' column with predicted values
# null_transmission_indices = df[df['transmission'].isnull()].index
# df.loc[null_transmission_indices, 'transmission'] = predicted_transmission[:len(null_transmission_indices)]

# # Check for remaining null values in 'transmission' column
# print(df['transmission'].isnull().sum())

In [868]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

# Assuming df is your DataFrame containing the data

# Step 1: Split data into train and test sets
# Splitting the data into train and test sets
train_data = df[df['transmission'].notnull()]
test_data = df[df['transmission'].isnull()]

# Step 2: One-Hot Encode Categorical Variables
# Select categorical columns for encoding
categorical_cols = ['manufacturer', 'model']

# Initialize OneHotEncoder and fit on train data
encoder = OneHotEncoder(handle_unknown='ignore')
encoder.fit(train_data[categorical_cols])

# Transform train and test data using the encoder
X_train_encoded = encoder.transform(train_data[categorical_cols])
X_test_encoded = encoder.transform(test_data[categorical_cols])

# Step 3: Train a Random Forest Classifier
# Split the train data into features and target variable
X_train = X_train_encoded
y_train = train_data['transmission']

# Initialize and train a Random Forest Classifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Step 4: Predict Null Values in 'transmission' column
# Predict 'transmission' values for instances in test data
predicted_transmission = model.predict(X_test_encoded)

# Step 5: Fill Null Values in 'transmission' column
# Update 'transmission' column in original DataFrame with predicted values
df.loc[df['transmission'].isnull(), 'transmission'] = predicted_transmission

# Check if all null values in 'transmission' column have been filled
print(df['transmission'].isnull().sum())

0

In [869]:
df['transmission'].unique()

array(['other', 'automatic', 'manual'], dtype=object)

In [870]:
df.isnull().sum()

region              0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel             1840
odometer            0
title_status        0
transmission        0
drive               0
type                0
paint_color     84909
state               0
price               0
dtype: int64

In [871]:
# import pandas as pd
# from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import LabelEncoder
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score

# # Separate data into two sets based on null values in the 'paint_color' column
# df_non_null = df[df['paint_color'].notnull()]
# df_null = df[df['paint_color'].isnull()]

# # Define features and target for non-null data
# X_non_null = df_non_null[['model', 'manufacturer', 'price']]
# y_non_null = df_non_null['paint_color']

# # Encode categorical features using label encoding
# encoder = LabelEncoder()
# X_non_null['model'] = encoder.fit_transform(X_non_null['model'])
# X_non_null['manufacturer'] = encoder.fit_transform(X_non_null['manufacturer'])

# # Split non-null data into training and testing
# X_train_non_null, X_test_non_null, y_train_non_null, y_test_non_null = train_test_split(
#     X_non_null, y_non_null, test_size=0.2, random_state=42)

# # Impute missing values in encoded data
# imputer = SimpleImputer(strategy='most_frequent')
# X_train_imputed = imputer.fit_transform(X_train_non_null)
# X_test_imputed = imputer.transform(X_test_non_null)

# # Define classifiers
# classifiers = {
#     "Random Forest": RandomForestClassifier(),
#     "Gradient Boosting": GradientBoostingClassifier(),
#     "Logistic Regression": LogisticRegression(),
#     "Decision Trees": DecisionTreeRegressor()
# }

# # Iterate through different models
# for name, clf in classifiers.items():
#     print(f"Evaluating Classifier: {name}")
    
#     # Train the classifier
#     clf.fit(X_train_imputed, y_train_non_null)

#     # Predict on the test set
#     y_pred = clf.predict(X_test_imputed)

#     # Evaluate the accuracy
#     accuracy = accuracy_score(y_test_non_null, y_pred)
#     print(f"Accuracy = {accuracy:.4f}")

#     print()  # Add a blank line between different classifiers

# # After selecting the best model, use it to fill the missing values in 'paint_color' column
# best_model = RandomForestClassifier()  # Example: Replace with the best-performing model
# best_model.fit(X_train_non_null, y_train_non_null)
# predicted_paint_color = best_model.predict(X_test_non_null)

# # Fill missing values in the 'paint_color' column with predicted values
# null_paint_color_indices = df[df['paint_color'].isnull()].index
# df.loc[null_paint_color_indices, 'paint_color'] = predicted_paint_color[:len(null_paint_color_indices)]

# # Check for remaining null values in 'paint_color' column
# print(df['paint_color'].isnull().sum())

In [872]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

# Assuming df is your DataFrame containing the data

# Step 1: Split data into train and test sets
# Splitting the data into train and test sets
train_data = df[df['paint_color'].notnull()]
test_data = df[df['paint_color'].isnull()]

# Step 2: One-Hot Encode Categorical Variables
# Select categorical columns for encoding
categorical_cols = ['manufacturer', 'model']

# Initialize OneHotEncoder and fit on train data
encoder = OneHotEncoder(handle_unknown='ignore')
encoder.fit(train_data[categorical_cols])

# Transform train and test data using the encoder
X_train_encoded = encoder.transform(train_data[categorical_cols])
X_test_encoded = encoder.transform(test_data[categorical_cols])

# Step 3: Train a Random Forest Classifier
# Split the train data into features and target variable
X_train = X_train_encoded
y_train = train_data['paint_color']

# Initialize and train a Random Forest Classifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Step 4: Predict Null Values in 'paint_color' column
# Predict 'paint_color' values for instances in test data
predicted_paint_color = model.predict(X_test_encoded)

# Step 5: Fill Null Values in 'paint_color' column
# Update 'paint_color' column in original DataFrame with predicted values
df.loc[df['paint_color'].isnull(), 'paint_color'] = predicted_paint_color

# Check if all null values in 'paint_color' column have been filled
print(df['paint_color'].isnull().sum())

0

In [873]:
df['paint_color'].unique()

array(['white', 'blue', 'red', 'black', 'silver', 'grey', 'brown',
       'yellow', 'orange', 'green', 'custom', 'purple'], dtype=object)

In [874]:
df.isnull().sum()

region             0
year               0
manufacturer       0
model              0
condition          0
cylinders          0
fuel            1840
odometer           0
title_status       0
transmission       0
drive              0
type               0
paint_color        0
state              0
price              0
dtype: int64

In [875]:
df4=df.copy()

In [876]:
df_filled

,region,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,price
0,auburn,2014,gmc,1,good,8,gas,57923.0,clean,other,NaN,pickup,white,al,33590
1,auburn,2010,chevrolet,1,good,8,gas,71229.0,clean,other,NaN,pickup,blue,al,22590
2,auburn,2020,chevrolet,100000,good,8,gas,19160.0,clean,other,NaN,pickup,red,al,39590
3,auburn,2017,toyota,107566,good,8,gas,41124.0,clean,other,NaN,pickup,red,al,30990
4,auburn,2013,ford,123357,excellent,6,gas,128000.0,clean,automatic,rwd,truck,black,al,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306288,madison,2013,audi,xt4,excellent,6,gas,114112.0,NaN,automatic,4wd,SUV,NaN,wi,14495
306402,madison,2009,nissan,xt4,excellent,4,gas,134933.0,NaN,other,4wd,SUV,NaN,wi,6895
306403,madison,2007,ford,xt4,excellent,4,gas,66283.0,NaN,automatic,4wd,SUV,NaN,wi,6780
307984,milwaukee,2014,ford,yaris,like new,8,gas,41962.0,NaN,automatic,4wd,pickup,NaN,wi,29980
310347,wyoming,2018,BMW,z4,excellent,6,gas,501.0,clean,NaN,NaN,other,custom,wy,17873

In [877]:
df_without_fuel = df.drop('fuel', axis=1)
df_without_fuel

,region,year,manufacturer,model,condition,cylinders,odometer,title_status,transmission,drive,type,paint_color,state,price
0,auburn,2014,gmc,1,good,8,57923.0,clean,other,4wd,pickup,white,al,33590
1,auburn,2010,chevrolet,1,good,8,71229.0,clean,other,rwd,pickup,blue,al,22590
2,auburn,2020,chevrolet,100000,good,8,19160.0,clean,other,4wd,pickup,red,al,39590
3,auburn,2017,toyota,107566,good,8,41124.0,clean,other,fwd,pickup,red,al,30990
4,auburn,2013,ford,123357,excellent,6,128000.0,clean,automatic,rwd,truck,black,al,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310505,wyoming,2019,nissan,♿,good,6,32226.0,clean,other,fwd,sedan,white,wy,23590
310506,wyoming,2020,volvo,♿,good,6,12029.0,clean,other,fwd,sedan,red,wy,30590
310507,wyoming,2020,cadillac,♿,good,6,4174.0,clean,other,fwd,hatchback,white,wy,34990
310508,wyoming,2018,lexus,𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼,good,6,30112.0,clean,other,fwd,sedan,silver,wy,28990
310509,wyoming,2019,bmw,🔥GMC,good,6,22716.0,clean,other,rwd,coupe,black,wy,30590

In [878]:
df_without_fuel

,region,year,manufacturer,model,condition,cylinders,odometer,title_status,transmission,drive,type,paint_color,state,price
0,auburn,2014,gmc,1,good,8,57923.0,clean,other,4wd,pickup,white,al,33590
1,auburn,2010,chevrolet,1,good,8,71229.0,clean,other,rwd,pickup,blue,al,22590
2,auburn,2020,chevrolet,100000,good,8,19160.0,clean,other,4wd,pickup,red,al,39590
3,auburn,2017,toyota,107566,good,8,41124.0,clean,other,fwd,pickup,red,al,30990
4,auburn,2013,ford,123357,excellent,6,128000.0,clean,automatic,rwd,truck,black,al,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310505,wyoming,2019,nissan,♿,good,6,32226.0,clean,other,fwd,sedan,white,wy,23590
310506,wyoming,2020,volvo,♿,good,6,12029.0,clean,other,fwd,sedan,red,wy,30590
310507,wyoming,2020,cadillac,♿,good,6,4174.0,clean,other,fwd,hatchback,white,wy,34990
310508,wyoming,2018,lexus,𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼,good,6,30112.0,clean,other,fwd,sedan,silver,wy,28990
310509,wyoming,2019,bmw,🔥GMC,good,6,22716.0,clean,other,rwd,coupe,black,wy,30590

In [879]:
df_filled

,region,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,price
0,auburn,2014,gmc,1,good,8,gas,57923.0,clean,other,NaN,pickup,white,al,33590
1,auburn,2010,chevrolet,1,good,8,gas,71229.0,clean,other,NaN,pickup,blue,al,22590
2,auburn,2020,chevrolet,100000,good,8,gas,19160.0,clean,other,NaN,pickup,red,al,39590
3,auburn,2017,toyota,107566,good,8,gas,41124.0,clean,other,NaN,pickup,red,al,30990
4,auburn,2013,ford,123357,excellent,6,gas,128000.0,clean,automatic,rwd,truck,black,al,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306288,madison,2013,audi,xt4,excellent,6,gas,114112.0,NaN,automatic,4wd,SUV,NaN,wi,14495
306402,madison,2009,nissan,xt4,excellent,4,gas,134933.0,NaN,other,4wd,SUV,NaN,wi,6895
306403,madison,2007,ford,xt4,excellent,4,gas,66283.0,NaN,automatic,4wd,SUV,NaN,wi,6780
307984,milwaukee,2014,ford,yaris,like new,8,gas,41962.0,NaN,automatic,4wd,pickup,NaN,wi,29980
310347,wyoming,2018,BMW,z4,excellent,6,gas,501.0,clean,NaN,NaN,other,custom,wy,17873

In [880]:
# Assuming df_filled is the DataFrame containing the 'fuel' column
df_without_fuel['fuel'] = df_filled['fuel']
df_without_fuel

,region,year,manufacturer,model,condition,cylinders,odometer,title_status,transmission,drive,type,paint_color,state,price,fuel
0,auburn,2014,gmc,1,good,8,57923.0,clean,other,4wd,pickup,white,al,33590,gas
1,auburn,2010,chevrolet,1,good,8,71229.0,clean,other,rwd,pickup,blue,al,22590,gas
2,auburn,2020,chevrolet,100000,good,8,19160.0,clean,other,4wd,pickup,red,al,39590,gas
3,auburn,2017,toyota,107566,good,8,41124.0,clean,other,fwd,pickup,red,al,30990,gas
4,auburn,2013,ford,123357,excellent,6,128000.0,clean,automatic,rwd,truck,black,al,15000,gas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310505,wyoming,2019,nissan,♿,good,6,32226.0,clean,other,fwd,sedan,white,wy,23590,gas
310506,wyoming,2020,volvo,♿,good,6,12029.0,clean,other,fwd,sedan,red,wy,30590,gas
310507,wyoming,2020,cadillac,♿,good,6,4174.0,clean,other,fwd,hatchback,white,wy,34990,diesel
310508,wyoming,2018,lexus,𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼,good,6,30112.0,clean,other,fwd,sedan,silver,wy,28990,gas
310509,wyoming,2019,bmw,🔥GMC,good,6,22716.0,clean,other,rwd,coupe,black,wy,30590,gas

In [881]:
df_without_fuel.isnull().sum()

region          0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
odometer        0
title_status    0
transmission    0
drive           0
type            0
paint_color     0
state           0
price           0
fuel            0
dtype: int64

In [882]:
ucpp=df_without_fuel.copy()

In [883]:
ucpp

,region,year,manufacturer,model,condition,cylinders,odometer,title_status,transmission,drive,type,paint_color,state,price,fuel
0,auburn,2014,gmc,1,good,8,57923.0,clean,other,4wd,pickup,white,al,33590,gas
1,auburn,2010,chevrolet,1,good,8,71229.0,clean,other,rwd,pickup,blue,al,22590,gas
2,auburn,2020,chevrolet,100000,good,8,19160.0,clean,other,4wd,pickup,red,al,39590,gas
3,auburn,2017,toyota,107566,good,8,41124.0,clean,other,fwd,pickup,red,al,30990,gas
4,auburn,2013,ford,123357,excellent,6,128000.0,clean,automatic,rwd,truck,black,al,15000,gas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310505,wyoming,2019,nissan,♿,good,6,32226.0,clean,other,fwd,sedan,white,wy,23590,gas
310506,wyoming,2020,volvo,♿,good,6,12029.0,clean,other,fwd,sedan,red,wy,30590,gas
310507,wyoming,2020,cadillac,♿,good,6,4174.0,clean,other,fwd,hatchback,white,wy,34990,diesel
310508,wyoming,2018,lexus,𝓜𝓮𝓻𝓬𝓮𝓭𝓮𝓼,good,6,30112.0,clean,other,fwd,sedan,silver,wy,28990,gas
310509,wyoming,2019,bmw,🔥GMC,good,6,22716.0,clean,other,rwd,coupe,black,wy,30590,gas

In [884]:
ucpp.isnull().sum()

region          0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
odometer        0
title_status    0
transmission    0
drive           0
type            0
paint_color     0
state           0
price           0
fuel            0
dtype: int64

In [885]:
# Assuming your DataFrame is named df
ucpp.to_csv('C:/Users/ishik/Downloads/UCPP.csv', index=False)